@import 'src/styles/variables';

.field {
  position: relative;
  .field__label {
    font-size: 13px;
    letter-spacing: 0.1rem;
    display: block;
    color: $veryDarkViolet;
  }
  .field__input {
    display: block;
    width: 100%;
    height: calc(2.5rem + 2px);
    margin-top: 0.5rem;
    padding: 0.75rem 0.75rem;

    outline: none;

    letter-spacing: 0.1rem;
    font-size: 15px;
    color: $veryDarkViolet;
    text-transform: uppercase;

    background-color: transparent;
    border: 1px solid $lightGrayishViolet;
    border-radius: 0.5rem;
    &::-webkit-input-placeholder {
      color: $lightGrayishViolet;
      text-transform: none;
    }
    &::-moz-placeholder {
      color: $lightGrayishViolet;
      text-transform: none;
    }
    &:-ms-input-placeholder {
      color: $lightGrayishViolet;
      text-transform: none;
    }
    &::-ms-input-placeholder {
      color: $lightGrayishViolet;
      text-transform: none;
    }
    &::placeholder {
      color: $lightGrayishViolet;
      text-transform: none;
    }
    &:focus {
      border-color: $veryDarkViolet;
    }
  }
  .field__errors {
    font-size: 10px;
    position: absolute;
    color: $inputErrors;
    bottom: -17px;
  }
}
