@import 'src/styles/variables';

.form {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: auto;
  min-width: 320px;
  max-width: 500px;
  padding: 1.7rem;
  .form__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.25rem;
    margin-bottom: 1rem;
    .form__wrapper_data {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 0.25rem;
    }
    .form__wrapper_cvc {
      flex: 1;
    }
  }
  .form__button {
    width: 100%;
    height: calc(3.25rem + 2px);
    border: none;
    border-radius: 0.5rem;
    color: $white;
    background-color: $veryDarkViolet;
  }
}
