@import 'src/styles/variables';

.form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  height: auto;
  min-width: 320px;
  max-width: 500px;
  padding: 1.7rem;
  .form__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.25rem;
    margin-bottom: 1rem;
    .form__wrapper_data {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 0.25rem;
    }
    .form__wrapper_cvc {
      flex: 1;
    }
  }
  .form__button {
    width: 100%;
    height: calc(3.25rem + 2px);
    border: none;
    border-radius: 0.5rem;
    color: $white;
    background-color: $veryDarkViolet;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      transform: scale(0.98);
    }
    &.shake {
      animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
    background: $inputErrors;
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.form__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 387px;
  min-width: 320px;
  max-width: 500px;
  padding: 1.7rem;
  .form__success_logo {
    width: 80px;
    height: 80px;

    background-image: url('/images/icon-complete.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .form__success_title {
    letter-spacing: 0.1rem;
    color: $veryDarkViolet;
  }
  .form__success_description {
    letter-spacing: 0.1rem;
    color: $lightGrayishViolet;
  }

  .form__success_button {
    width: 100%;
    height: calc(3.25rem + 2px);
    border: none;
    border-radius: 0.5rem;
    color: $white;
    background-color: $veryDarkViolet;
  }
}
